@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body {
  font-family: Lato, Arial;
}

h1 {
  @apply text-3xl;
  font-family: Merriweather;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

@tailwind components;

/* add composed styled using @apply here */

@tailwind utilities;

button {
  padding: 1rem;
  border: 1px solid #000;
  @apply rounded-lg;
}

button:hover {
  @apply bg-orange-200;
}
