@tailwind base;

@tailwind components;

@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

button {
  padding: 1rem;
  border: 1px solid #000;
  @apply rounded-lg;
}

button:hover {
  @apply bg-orange-200;
}
